* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#App {
  background-color: rgb(253, 250, 250);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.Link {
  text-decoration: none;
}
